:root {
  --gray-100: #d0d0d0;
  --gray-200: #c0c0c0;
  --gray-300: #b8b8b8;
  --gray-400: #a9a9a9;
  --gray-500: #707070;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #5f6368;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

svg {
  width: 25px;
  height: 25px;
  fill: #5f6368;
}
.section {
  height: 100vh;
}

/* amer kaj suro */

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

.nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav__items-app svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav__itmes--profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 25px;
}

.nav__itmes--profile:hover img {
  border: 5px solid rgba(250, 0, 0, 0.466);
}
/* nav end */

/* main logo */

.main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -95px;
}

.main__group{
  position: relative;
}

.main__group--input-search input{
  width: 90vw;
  padding : 18px;
  border-radius: 255px;
  outline: none;
  border: 1px solid var(--gray-100);
  padding-left: 55px;
  padding-right: 55px;
}


.main__group--search{
  position: absolute;
  left: 20px;
  top: 15px;
}

.main__group--mic-icon{
  position: absolute;
  right: 20px;
  top: 13px;
}


.button{
   background-color: #f8f9fa;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid #fff;
    
}


button:hover {
  border: 1px solid var(--gray-300);
}

.google_search{
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
}
.button__lucky{
  border-radius: 5px;
  padding: 8px;
}

